@charset "utf-8";
/* CSS Document */

html, body, div,  applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body{
		color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image:url(images/footer.jpg);
	background-repeat:repeat-x;
	background-position:bottom center;
	
}

html{
margin: 0px;
	padding: 0px;
background-image:url(images/bg.jpg);
	background-repeat:no-repeat;
	background-position:top center;}

body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #636E75;
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #CC0000;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}

#wrap{
	width:980px;
	min-height:600px;
	margin:0px auto 0px auto;
	background: url(http://www.12052012.co.uk/images/main-page-bg.jpg) #fff;
	background-position: bottom right;
	background-repeat:no-repeat;
	border:solid 1px #ccc;
	border:solid 1px #ccc;
}

#content{padding:40px;
min-height:500px;}

#content p{width:800px; line-height:24px; font-size:14px; color:#555;}

#content-custom{padding:40px;
min-height:500px;}

#content-custom p{width:900px; line-height:24px; font-size:14px; color:#555;}


#latest{margin:0; padding:0; width:600px;}

#latest h3{font-size:24px; margin:0 0 10px 0;}

#latest ul{list-style:none; margin:0;}

#latest ul li{margin:0 0 5px 0; padding:10px; height:12px;}

#latest ul li{
	background: url(http://www.12052012.co.uk/images/latest-bgb.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}
	
	#latest ul li:hover{
	background: url(http://www.12052012.co.uk/images/latest-bg.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}
	
	#latest ul li + li{
	background: url(http://www.12052012.co.uk/images/latest-bg2b.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}
	
	#latest ul li + li:hover{
	background: url(http://www.12052012.co.uk/images/latest-bg2.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}
	
	#latest ul li + li + li{
	background: url(http://www.12052012.co.uk/images/latest-bg3b.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}
	
	#latest ul li + li + li:hover{
	background: url(http://www.12052012.co.uk/images/latest-bg3.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}
	
	#latest ul li + li + li + li{
	background: url(http://www.12052012.co.uk/images/latest-bg4b.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}
	
	#latest ul li + li + li + li:hover{
	background: url(http://www.12052012.co.uk/images/latest-bg4.jpg) #555;
	background-position: center;
	background-repeat:no-repeat;}

#latest ul li a{color:#000; text-decoration:none;}


#share{width:980px; margin:0 auto; padding:15px 0 10px 50px;}

#banner{
	width:980px;
	height:550px;
	background-image:url(images/banner.jpg);
}
/*TOP MENU*/
#menu{
	height:30px;
	width:960px;
	padding:15px 0 5px 0;
	margin:10px auto;
	background-color:#555;
		}
		
#menu ul {
	list-style:none;
	margin:0; padding:0;
	text-align:center;
}

#menu ul li{
	display:inline;
	margin:0 10px;
}

#menu ul li a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	letter-spacing:3px;
}

#menu ul li a:hover{color:#ccc;}
		

/*FOOTER*/

#footer-wrap {
	clear: both;
	height: 130px;
	width:1000px;
	margin:0 auto;
}

#footer {
	margin:0 auto;
	width:940px;
	padding-top:10px;
	height: 120px;
}
#footer h3 {
	color: #fff;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer .column {
	float: left;
	width: 230px;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
	list-style:none;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #fff;
}
#footer .column a:hover {
	text-decoration: underline;
	color: #CC0000;
}

#copyright{margin:0 auto; float:left; width:300px; color:#555;}

#copyright a{text-decoration:none; color:#555;}

#copyright a:hover{color:#ccc;}

/*CONTACT FORM**/

input, textarea {  
    padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 300px;  
    background: #fed780;  
    }  
  
textarea {  
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
    }  
  
input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #ffb60f;  
    }  
  
.form label {  
    margin-left: 10px;  
    color: #999999;  
    }  
  
.submit {  
    width: auto;  
    padding: 9px 15px;  
    background: #ffb60f;  
    border: 0;  
    font-size: 14px;  
    color: #fff;  
    } 
	
	.err{color:#ff0000;}